<% provide(:title, 'Sign up') %>
<h1>Welc<a style="color:#0b33a3; background-color:#fff">o</a>me.</h1>

<%= form_for(@user) do |f| %>

	<%= render 'layouts/error_messages' %>

	<%= f.text_field :name, :placeholder => "First name"%>
	<%= f.text_field :surname, :placeholder => "Last name"%>
	<%= f.email_field :email, :placeholder => "Email" %>
	<%= f.password_field :password, :placeholder => "Password" %>
	<%= f.password_field :password_confirmation, :placeholder => "Confirm password" %>
	
	<%= f.submit "CREATE NEW ACCOUNT" %>
<% end %>
