<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<%= form_for(@user) do |f| %>

	<%= render 'layouts/error_messages' %>
	
	<%= f.label :name, "First name" %>
	<%= f.text_field :name %>

	<%= f.label :surname, "Last name" %>
	<%= f.text_field :surname %>

	<%= f.label :email %>
	<%= f.email_field :email %>
	
	<%= f.label :password %>
	<%= f.password_field :password %>
	
	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation %>
	
	<%= f.submit "Create new account" %>
<% end %>
